# Python
.venv/
__pycache__/
*.py[cod]
.pytest_cache/

# Environment variables
.env
.env.*

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# LocalStack
localstack-debug.log

# Editors / OS
.vscode/
.DS_Store